# Pandas

“Pandas is an open-source Python library for data analysis. 

It gives Python the ability to work with spreadsheet-like data for fast data loading, manipulating, aligning, merging, etc.

To give Python these enhanced features, Pandas introduces two new data types to Python: Series and DataFrame. 

The **DataFrame** will represent your entire spreadsheet or rectangular data, whereas the **Series** is a single column of the DataFrame”

Fragmento de
Pandas for Everyone: Python Data Analysis
Daniel Y. Chen
https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewBook?id=0
Es posible que este material esté protegido por copyright.

This tutorial is based on the above book


***The pandas documentation is at*** https://pandas.pydata.org/docs/index.html

## Loading pandas

Since Pandas is not part of the Python standard library, we have to first tell Python to load (i.e., import) the library

In [1]:
import pandas as pd

## Loading a data set

With the library loaded we can use the read_csv() function to load a CSV data file

For this tutorial, we will use the data stored at: https://github.com/jennybc/gapminder/blob/main/data-raw/04_gap-merged.tsv

In [7]:
'''
Note: If you are using Google Colab, then the data file must be uploaded first
        On the other hand, the data file-path must be doble check
'''

df  = pd.read_csv(filepath_or_buffer = '/content/04_gap-merged.tsv', sep='\t')
# print out the data
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
3307     Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308     Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309     Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310     Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[3312 rows x 6 columns]

**sep** (separator) is the parameter that allow us to define the delimiter of our data set

The types are:

*   default = ,
*   semi-colon-separated CSV = ;
*   Vertical-bar = |
*   Vertical-bar = |
*   Colon = :
*   Tab = t
*   Vertical-bar = |

## Checking the data format

### Data type

We can check to see if we are working with a Pandas Dataframe by using the built-in **type()** function

In [9]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Data shape

Every DataFrame object has a **.shape** attribute that will give us the number of rows and columns of the DataFrame.

In [10]:
# get the number of rows and columns
print(df.shape)

(3312, 6)

### Data columns names

The column names, like .shape, are given using the **.column** attribute of the DataFrame object.

In [11]:
# get column names
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

### All columns types

Each column (i.e., Series) has to be the same type, whereas each row can contain mixed types. 

In our current example, we can expect the country column to be all strings, and the year to be integers. 

However, it's best to make sure that is the case by using the .dtypes attribute or the .**info()** method.

In [12]:
# get the dtype of each column
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

## Taking a look of the Columns, Rows, and Cells

The best way to look at our data is to inspect it by looking at various subsets of the data

### Head

Use the **.head()** method of a DataFrame to look at the first 5 rows of our data

In [13]:
# show the first 5 observations
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

### Tail

Use the **.tail()** method of a DataFrame to look at the last 5 rows of our data

In [14]:
# show the last 5 observations
print(df.tail())

       country continent  year  lifeExp       pop   gdpPercap
3307  Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308  Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309  Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310  Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311  Zimbabwe    Africa  2007   43.487  12311143  469.709298

### Subset of Columns

If we want only a specific column from our data, we can access the data using square brackets, [ ]

In [15]:
# just get the country column and save it to its own variable
country_df = df['country']

# show the first 5 observations
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In order to specify multiple columns by the column name, we need to pass in a Python list between the square brackets. 

This may look a bit strange since there will be **2 sets of square brackets**, [[ ]].

In [16]:
# Looking at country, continent, and year
subset = df[['country', 'continent', 'year']]
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
3307     Zimbabwe    Africa  1987
3308     Zimbabwe    Africa  1992
3309     Zimbabwe    Africa  1997
3310     Zimbabwe    Africa  2002
3311     Zimbabwe    Africa  2007

[3312 rows x 3 columns]

Using the square bracket notation, [ ], you cannot pass an index position to subset a DataFrame based on the position of the columns. 


If you want to do this, look down for the .iloc[] notation at https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [17]:
# subset the first column based on its position.
df[0]

KeyError: ignored

In [26]:
''' Single selections using iloc and DataFrame

Rows:
df.iloc[0] # first row of data frame
df.iloc[1] # second row of data frame
df.iloc[-1] # last row of data frame

Columns:
df.iloc[:,0] # first column of data frame
df.iloc[:,1] # second column of data frame
df.iloc[:,-1] # last column of data frame
'''

df.iloc[1]

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [57]:
''' Multiple row and column selections using iloc and DataFrame

data.iloc[0:5] # first five rows of dataframe
data.iloc[:, 0:2] # first two columns of data frame with all rows
data.iloc[[0,3,6,24], [0,3,6]] # 1st, 4th, 7th, 25th row + 1st 3rd 7th columns
data.iloc[0:5, 2:4] # first 5 rows and 4th and 5th columns of data frame (the range is not incluse with the last value)
'''

df.iloc[0:5, 2:4]

   year  lifeExp
0  1952   28.801
1  1957   30.332
2  1962   31.997
3  1967   34.020
4  1972   36.088

In [54]:
'''
Use range to get a subset of columns
'''

# create a range of integers from 0 - 4 inclusive
small_range = list(range(5))
print(small_range, '\n')

subset = df.iloc[:, small_range]
print(subset)

[0, 1, 2, 3, 4]

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
3307     Zimbabwe    Africa  1987   62.351   9216418
3308     Zimbabwe    Africa  1992   60.377  10704340
3309     Zimbabwe    Africa  1997   46.809  11404948
3310     Zimbabwe    Africa  2002   39.989  11926563
3311     Zimbabwe    Africa  2007   43.487  12311143

[3312 rows x 5 columns]

In [28]:
'''
Accessing a single cell in the dataframe
'''

df.iloc[0, 2]

1952

### Returning a column

When all you need is a single column (i.e., Series or vector) of values and typing df['column'] will be very tedious. 

There is a shorthand notation where you can pull the column vector by treating it as a DataFrame attribute

In [35]:
# using square bracket notation
print(df['country'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
3307       Zimbabwe
3308       Zimbabwe
3309       Zimbabwe
3310       Zimbabwe
3311       Zimbabwe
Name: country, Length: 3312, dtype: object

In [36]:
# using dot notation
print(df.country)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
3307       Zimbabwe
3308       Zimbabwe
3309       Zimbabwe
3310       Zimbabwe
3311       Zimbabwe
Name: country, Length: 3312, dtype: object

### Subset of rows

There are 2 ways to get the rows by: index and names

**.loc[]** to get them by index label (row name)

**.iloc[]** to get them by index (row number)

In [50]:
# get a row of data in different ways
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [51]:
# get the 2nd row
print(df.iloc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [47]:
subset_head = df.head(n=1)
print(subset_head)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [49]:
# filter multiple rows
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop     gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333    779.445314
99     Australia       NaN  1977   73.490  14074100  18334.197510
999      Finland    Europe  1964   69.370   4548544  10042.219300

## Returning a DataFrame or a Series (vector)

In [29]:
'''
If we use a list to subset, we will always get a DataFrame object back
'''

country_df_list = df[['country']] # note the double square bracket
print(type(country_df_list))

<class 'pandas.core.frame.DataFrame'>

In [32]:
country_df_list

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
3307     Zimbabwe
3308     Zimbabwe
3309     Zimbabwe
3310     Zimbabwe
3311     Zimbabwe

[3312 rows x 1 columns]

In [33]:
'''
If we select a single column, we will always get a Series object back
'''

country_df = df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [34]:
country_df

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
3307       Zimbabwe
3308       Zimbabwe
3309       Zimbabwe
3310       Zimbabwe
3311       Zimbabwe
Name: country, Length: 3312, dtype: object

So the difference lies in

A **dataframe** is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table

Where the **series** is a one dimensional numpy.ndarray